$primary-color: #003f5c;
$background-color: #f0f0f0;

body {
  background-color: $background-color;
}

.login-container {
  background-image: url("https://www.ambev.com.br/sites/g/files/wnfebl10941/files/styles/webp/public/Asset%207.png.webp?itok=lOH8FRUn");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

mat-card {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 24px;
  color: $primary-color;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
